
/* inter-regular - cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../vendor/fonts/inter-v7-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../vendor/fonts/inter-v7-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../vendor/fonts/inter-v7-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../vendor/fonts/inter-v7-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../vendor/fonts/inter-v7-cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../vendor/fonts/inter-v7-cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.page {
  background-color: black;
  max-width: 920px;
  font-family: Inter, sans-serif;
  font-style: normal;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 20px 60px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);;
  padding-bottom: 41px;
}

.header__link {

}

.main {
  width: 100%;
}

.profil {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 50px;
  align-items: center;
}

.profil-info {
  display: flex;
  align-items: center;
}

.profil-info__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profil-content__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.profil-content__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 18px 0 0;
}

.profil-content__btn {
  background-color: #000;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding: 0;
}

.profil-content__profethional {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
}

.profil__btn{
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.cards {
  width: 100%;
  color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fill,  minmax(280px, auto));
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 25px 0 30px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  background-color: #fff;
  border: none;
  margin-right: 15px;
}

.footer {
  width: 100%;
  margin-top: 67px;
  color: #545454;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

.btn_cursor:hover {
  opacity: .6;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
}

.popup__containe {
  width: 430px;
  height: 330px;
  background-color: #fff;
  padding-top: 34px;
  box-sizing: border-box;
  position: fixed;
  top: 195px;
  left: calc(50% - 215px);
}

.popup-close_bng {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 40px 36px;
}

.popup__form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

.popup__form {
  width: 358px;
  height: 25px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: auto;
}

.popup__form-profetional {
  margin-top: 30px;
}

.popup__form-save {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  margin-top: 48px;
  background: #000000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.popup__form-save:hover {
  opacity: .8;
}

.popup_opened {
  display: block;
}

@media screen and (max-width: 767px) {
  .page {
    padding: 30px 20px 35px;
  }
  
  .header {
    width: 100vw;
    border-bottom: 1px solid rgba(84, 84, 84, .7);;
    padding-bottom: 41px;
  }

  .header__link {
    margin-left: 30px;
  }
  
  .profil {
    flex-direction: column;
    margin: 40px 0 40px;
  }

  .profil-info {
  flex-direction: column;
  }

  .profil__btn{
    width: 50%;
  }
}

@media screen and ( max-width: 530px) {
  .popup {
    width: calc(100% - 40px);
    height: 320px;
    top: 125px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup-close_bng {
    right: 0;
  }

  .popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin-left: 0;
  }

  .popup__form {
    width: calc(100%-20px);
    margin-top: 0;
  }

  .popup__form-profetional {
    margin-top: 30px;
  }

  .popup__form-save {
    width: calc(100%-20px);
  }
}

@media screen and (max-width: 425px) {
  .profil__btn{
    width: 240px;
  }

  .popup__form {
    width: 240px;
  }

  .popup__form-save {
    width: 240px;
  }
}
/* 
@media screen and (max-width: 320px){
  .popup__form {
    width: 240px;

  }

  .popup__form-save {
    width: 240px;
  }
} */