.profil-content__profethional {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
}

@media screen and (max-width: 767px) {
  .profil-content__profethional {
    text-align: center;
    margin-bottom: 35px;
  }
}