.popup__container-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and ( max-width: 530px) {
  .popup__container-btn {
    right: 0;
  }
}